.place__paragraphs{
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: auto;
    vertical-align: top;
   margin: 0px 0px 24px 0px;  
   
}

@media screen and (max-width: 768px) {
    .place__paragraphs{
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 520px) {
    .place__paragraphs{
        margin: 0px 16px 0px 16px;
}