.footer__links{
    display:grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 18px;
    list-style-type: none;
    padding:0px;
    margin:0px;
}

@media screen and (max-width: 767px) {
    .footer__links{
        grid-template-columns: repeat(1, auto);
        grid-template-rows:repeat(5, auto); ;
        grid-row-gap: 32px;
    }
}