.place__website{
    position: flex;
    flex-direction: column;
    align-self: end;
    max-width: 484px;
    width: auto;
    max-height: 152px;
}

@media screen and (max-width: 768px) {
    .place__website{
        display: none;   
    }
}