.place__website{
    position: flex;
    flex-direction: column;
    align-self: end;
    max-width: 484px;
    width: auto;
}

@media screen and (max-width: 520px) {
    .place__website{
        display: none;   
    }
}